/* Footer lies within body */
body,
html {
  height: 100%;
  margin: 0;
  background-color: #0b0b0b;
}

.bg {
  color: #e5e4e2;

  /* Full height */
  height: 100%;
}

footer {
  text-align: center;
  color: #e5e4e2;
}

/* Footer lies within body */
