/* Footer lies within body */
body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  /* background-color: #3b2f92; */
  color: #87cefa;
  background-image: url("Black_Zero.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  text-align: center;
  color: #0000cd;
}

/* Footer lies within body */
